<h1>New Game</h1>
<div class="text mb-4">
  <% @letters.each do |letter| %>
    <span class="badge bg-primary m-1">
      <%= letter %>
    </span>
  <% end %>
</div>

<div class="container">
  <form action="/score" method="post" data-turbo="false" class="input-group mb-3">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name="word" placeholder="Write your word here" class="form-control" />
    <button type="submit" class="btn btn-primary">Play</button>
  </form>
</div>
